<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="swimming/pool/infra/mybatis/SwimmingPoolMapper">
  <resultMap id="swimmingPoolBase" type="SwimmingPool">
    <id column="POOL_ID" property="poolId"/>
    <result column="POOL_NAME" property="poolName"/>
    <result column="STATE" property="state"/>
    <result column="LOT_ADDRESS" property="lotNumberAddress"/>
    <result column="STREET_ADDRESS" property="streetNameAddress"/>
  </resultMap>

  <insert id="save" parameterType="swimming/pool/domain/SwimmingPool" useGeneratedKeys="true" keyProperty="poolId">
    insert into SWIMMING_POOL (pool_name, state, lot_address, street_address)
    values (#{poolName}, #{state}, #{lotNumberAddress}, #{streetNameAddress})
  </insert>
</mapper>
