<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="swimming.pool.infra.mybatis.SwimmingPoolMapper">
  <resultMap id="swimmingPoolBase" type="swimming.pool.domain.swimmingpool.SwimmingPool">
    <id column="POOL_ID" property="poolId"/>
    <result column="STATE" property="state"/>
    <association property="poolName" javaType="swimming.pool.domain.swimmingpool.PoolName">
        <result property="poolName" column="POOL_NAME"/>
      </association>
      <association property="lotNumberAddress" javaType="swimming.pool.domain.swimmingpool.LotAddress">
        <result property="address" column="LOT_ADDRESS"/>
      </association>
      <association property="streetNameAddress" javaType="swimming.pool.domain.swimmingpool.StreetAddress">
        <result property="address" column="STREET_ADDRESS"/>
      </association>
  </resultMap>

  <insert id="insert" parameterType="swimming.pool.domain.swimmingpool.SwimmingPool" useGeneratedKeys="true" keyProperty="poolId">
    INSERT
    INTO SWIMMING_POOL(POOL_NAME, STATE, LOT_ADDRESS, STREET_ADDRESS)
    VALUES (#{poolName}, #{state}, #{lotNumberAddress}, #{streetNameAddress})
  </insert>
</mapper>

